#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  height: 400px;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.swiper-slide {
  font-size: 18px;
  /* width: fit-content; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

/* .swiper-slide img {
  display: block;
  height: 200px;
  width: 300px;
  object-fit: cover;
} */

.swiperCards {
  height: 368px;
  width: 100%;
}

.cardImg {
  height: 210px;
  object-fit: cover;
}

.card-subtitle {
  color: rgb(171, 169, 169);
}

.swiperCards:hover {
  cursor: pointer;
}
